.container-art {
  margin-left: 160px;
  margin-right: -118px;
}

.art-culture {
  margin-top: 250px;
}

.hold-art {
  display: flex;
}

#art-col {
  margin-right: -400px;
}

.heading-art {
  margin-left: 36px;
}

.inhype-btn {
  display: flex;
  justify-content: center;
  margin-left: -361px;
  margin-top: 20px;
}

.inhype-btn a {
  background-color: blue;
}
