.hold-travel {
  display: flex;
  margin-bottom: 50px;
}

.travel .about-image {
  font-size: 15px;
  height: 35vh;
}

.travel .dot {
  font-size: 15px;
}

.travel .inhype-block {
  margin-left: 336px;
}
