.art-culture {
  margin-top: 250px;
}

.hold-art {
  display: flex;
}

.inhype-btn {
  display: flex;
  justify-content: center;
  margin-left: 183px;
  margin-top: 20px;
}

.inhype-btn a {
  background-color: blue;
}
