.container-content {
  margin-left: 0px !important;
}

.selected-image-big {
  margin-right: 160px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.row-new-1 {
  display: flex;
}

.hold-child {
  margin-left: -94px;
}

.images-small-title {
  width: 206px;
}

.selected-title {
  font-size: 16px;
  font-weight: bold;
}

.selected-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

.selected-small-1 {
  height: 108px;
  border-radius: 10px;
}

.selected {
  border-bottom: 2px solid gray;
  margin-bottom: 100px;
  padding-bottom: 60px;
  margin-top: 50px;
}
