.inline-post-1 {
  padding: 40px;
  background-color: var(--color-bg-grey);
  margin-bottom: var(--margin-themeblock-wrapper);
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row-new {
  margin-right: -15px;
  margin-left: -15px;
}

.inhype-3-title {
  font-weight: bold;
}

.slide-today {
  display: flex;
}

.span-1-of-4 {
  width: 20%;
}

#slide {
  width: 350.59px;
  height: 398.44px;
}
